<div class="card">
    <div class="card-header">
      <div>{{ player.label }} </div>
      <div id="playerRanking"> {{position}} </div>
    </div>
    <div class="card-body">
      <p>Club : {{ player.club }}</p>
      <p>Note génerale : {{player.score }}</p>
      <div class="specs">
          <p>Vitesse : {{ player.pac }}</p>
          <p>Dribble : {{ player.dri }}</p>
          <p>Tir : {{ player.sho }}</p>
          <p>Defense : {{ player.def }}</p>
          <p>Passe : {{ player.pas }}</p>
          <p>Physique : {{ player.phy }}</p>
      </div>
      <button class="btn btn-danger" (click)="gererClic()">Supprimer</button>
  </div>
  </div>