.card-body{
    text-align: center;
}
.specs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card{
    margin : 5px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}