<form #formAjout="ngForm" (ngSubmit)="addPlayer()">
  <div class="mb-3">
    <label for="inputLibelle" class="form-label">Player Name</label>
    <input type="text" class="form-control" id="inputplayerName" name="playerName" [(ngModel)]="label" required>
  </div>
  <div class="mb-3">
    <label for="inputQuantite" class="form-label">Club</label>
    <input type="text" class="form-control" id="club" [(ngModel)]="club" name="club" required>
  </div>
  <div class="mb-3">
    <label for="inputPoids" class="form-label">Pace</label>
    <input type="number" class="form-control" id="inputPac" [(ngModel)]="pac" name="pac" required>
  </div>
  <div class="mb-3">
    <label for="inputPrix" class="form-label">Shot</label>
    <input type="number" class="form-control" id="inputSho" [(ngModel)]="sho" name="sho" required>
  </div>
  <div class="mb-3">
    <label for="inputPrix" class="form-label">Pass</label>
    <input type="number" class="form-control" id="inputPas" [(ngModel)]="pas" name="pas" required>
  </div>
  <div class="mb-3">
    <label for="inputPrix" class="form-label">Dribble</label>
    <input type="number" class="form-control" id="inputDri" [(ngModel)]="dri" name="dri" required>
  </div>
  <div class="mb-3">
    <label for="inputPrix" class="form-label">Defense</label>
    <input type="number" class="form-control" id="inputDef" [(ngModel)]="def" name="def" required>
  </div>
  <div class="mb-3">
    <label for="inputPrix" class="form-label">Physics</label>
    <input type="number" class="form-control" id="inputPhy" [(ngModel)]="phy" name="phy" required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!formAjout.valid">Ajouter</button>
</form>
<swal #mySwal title="Bravo !" text="Le joueur a été ajouté :)" icon="success"></swal>